<div class="row top-nav">
    <nav class="col-sm-12">
        <ul class="pagination">
            <li class="{{#if items.isfirstpage }}disabled{{/if}}">
                <a href="/?page={{items.page}}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                </a>
            </li>
            <li class="{{#if items.islastpage }}disabled{{/if}}">
                <a href="/?page={{items.page}}" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="row item-list"> 
    {{#each items}}    
    <div class="col-sm-3 item">
        <div class="img-container">
            <img class="img-responsive" src="/public/img/item/hi-res/201505/{{StockNumber}}.jpg" />
        </div>
        <div class="contents">
            <p>{{Title}}</p>
            <p>{{Publisher.Name}}</p>            
            <p>{{Description}}</p>
        </div>
    </div>
    {{/each}}       
</div>

<div class="row">
    <nav class="col-sm-12">
        <ul class="pagination">
            <li class="{{#if items.isfirstpage }}disabled{{/if}}">
                <a href="/?page={{items.page}}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                </a>
            </li>
            <li class="{{#if items.islastpage }}disabled{{/if}}">
                <a href="/?page={{items.page}}" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>